@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap&subset=latin-ext');
$popins: 'Poppins', sans-serif;

$blue: #2070C2;
$darkgrey: #545454;
$darkblue: #012951;
$grey: #CBD2D9;
$orange: #c27220;

//resolution for media query
$telephone: 40rem; 