@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $green;
  height: 100vh;
  min-width: 500px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;

  @media (max-width: $telephone) {
    min-width: 400px;
    height: 75vh;
  }

}

.card {
  background: $grey;
  border-radius: 15px;
  max-width: 624px;
  width: 100%;
  padding: 32px;

  @media (max-width: $telephone) {
    padding: 8px;
  }
}

.person {
  display: flex;
  align-items: flex-start;

  &__description {
    font-size: 16px;
    line-height: 22px;

    &--last {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $violet;
    text-decoration: none;
    transition: color .10s linear, transform .5s ease-in;
    &:hover {
      transform: rotate(45deg);
      color: $green;      
    }
  }

  &__name {
    margin: 0;
    font-size: 36px;
    font-weight: normal;

    @media (max-width: $telephone) {
      font-size: 24px;;
    }
  }

  &__photo {
    border-radius: 50%;
    border: $orange solid 4px;
    width: 150px;
    height: 150px;
    margin-right: 32px;
  
    @media (max-width: $telephone) {
      width: 100px;
      height: 100px;
      margin-right: 8px;
    }
  }

  &__position {
    color: #545454;
    font-style: italic;
    font-size: 18px;
  }

  &__special {
    color: $orange;
    font-weight: bold;
  }
  
  @media (min-width: $telephone) {
    max-width: 900px;
  }

  @media (max-width: $telephone) {
    display: flex;
    align-items: center;
  }
}